*, body {
	margin: 0;
	padding: 0;
	font-size: 110%;
}

/* The Content */
:local(.chat_window){
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Individual Message */
:local(.user_message){
	background-color: #eef
}

:local(.user_message), :local(.new_message){
	padding: 1%;
	color: #444;
}

:local(.message), :local(.new_message) > span{
	color: #555;
	font-weight: bold;
}

/* The input */
:local(.message_input){
	position: fixed;
	bottom: 3px;
}

:local(.message_input) input{
	border-size: 1%;
	padding: .5%;
	width: 98.8%;
}

:local(.chat_window), :local(.message_input) {
	width: 100%;
}